header, main, footer {
    display: flex;
    justify-content: center;
}

@media screen and (min-width: 300px){
    section {
        display: flex;
        justify-content: center;
        margin-left: -5rem;
    }
}

li, .deleteBtn {
    cursor: pointer;
    
}

ul li.checked {
    color: lightblue;
    text-decoration: line-through;
}

.btn-danger {
    display: flex;
    justify-content: right;
}